@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zen+Tokyo+Zoo&display=swap');

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 50vh;
    background: url('banners/banner.jpg');
    background-position: top;
    background-size: cover;
}

header .header-container {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 70vw;
    padding: 25px 20px 25px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    cursor: default;
}

header .header-container .header-title {
    font-size: 1.8em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #BE0000;
}

header .header-container .header-sub-title {
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
    padding: 0;
    color: #000000;
}

#banner {
    margin-top: 10px;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .bannerImg {
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 1;
    width: 40vw;
    max-height: 100vh;
    transition: .5s ease-in-out;
}

#banner .bannerImg img {
    object-fit: cover;
    object-position: center;
    width: 40vw;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    height: 100vh;
}

#banner .content {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80vw;
    min-height: 75vh;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
}

#banner .content .title {
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 1.7em;
    margin-bottom: 8px;
}

#banner .content .sub-title {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 1.1em;
    margin: 0;
}

#banner .content .items {
    width: 100%;
    padding: 0;
}

#banner .content .items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 10px 40px;
    font-size: 1.2em;
}

#banner .content .items li .price {
    transition: .2s ease-in-out;
    cursor: default;
    text-align: right;
}

#banner .content .items li .price span {
    color: #555;
}

#banner .content .items li a .description {
    font-size: .9em;
    color: #555;
}

#banner .content .items li a .addition {
    margin-left: 20px;
    color: #555;
}

#banner .content .items li a {
    position: relative;
    display: block;
    transition: .3s ease-in-out;
    cursor: default;
    max-width: 75%;
}

#banner .content .items li:hover a {
    transform: translateX(10px);
    color: #BE0000;
}

#banner .content .items li:hover .price {
    color: #BE0000;
}

#banner .content .items li:nth-child(odd) {
    background: #eee;
}


footer {
    transition: .8s ease-in-out;
    display: -ms-grid;
    display: grid;
    padding: 20px 0;
    z-index: 10;
    padding-bottom: 90px;
}

footer .footer-nav {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

footer .footer-nav .footer-nav-item {
    text-align: center;
    color: #000000;
    font-size: 1.1em;
    transition: .2s ease-in-out;
    padding: 20px 12px;
    text-decoration: none;
}

footer .footer-nav .footer-nav-item:first-child {
    padding-left: 30px;
}

footer .footer-nav .footer-nav-item:last-child {
    padding-right: 30px;
}

footer .footer-nav .footer-nav-item:hover {
    transform: translateY(5px);
}

footer .copyright {
    text-align: center;
    padding: 0;
    font-size: 1.1em;
    cursor: default;
    width: 100vw;
    text-align: center;
}

@media (max-width: 900px) {

    header .header-container {
        width: 80vw;
    }

    #banner .bannerImg {
        display: none;
    }

    #banner .content {
        width: 90vw;
    }
}

@media (max-width: 1005px) {
    footer .footer-nav {
        width: 100vw;
    }
}

@media (max-width: 570px) {
    header {
        height: 90vh;
    }

    #banner .content {
        margin-top: 30px;
    }

    #banner .content .items li a {
        max-width: 200px;
    }
}