@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zen+Tokyo+Zoo&display=swap');

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 50vh;
    background: url('banners/banner.jpg');
    background-position: center;
    background-size: cover;
}

header .header-container {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 70vw;
    padding: 25px 20px 25px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    cursor: default;
}

header .header-container .header-title {
    font-size: 1.8em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #BE0000;
}

header .header-container .header-sub-title {
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
    padding: 0;
    color: #000000;
}

.media-menu {
    position: fixed;
    background: #fff;
    z-index: 100;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    right: -350px;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    transition: .5s ease-in-out;
}

.toggled {
    right: 0px;
}

.media-menu .main-nav-items {
    padding: 0;
    margin: 0;
}

.media-menu .main-nav-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
    height: 20vh;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.media-menu .main-nav-item:first-child {
    margin-top: 10vh;
}

.media-menu .main-nav-item:last-child {
    margin-bottom: 10vh;
}

.media-menu .main-nav-item .main-nav-link {
    text-decoration: none;
    font-size: 24px;
    color: #111;
    transition: .3s ease-in-out;
}

.media-menu .main-nav-item .main-nav-link:hover {
    transform: translateY(-5px);
    color: #BE0000;
}

.main-nav {
    background: #fff;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: -3px -7px 15px 5px #9D9D9D;
}

.scrolled-down {
    transform:translateY(-150%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

.myContainer .main-nav .toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: .5s ease-in-out;
    z-index: 10000000;
    color: #111;
}

.myContainer .main-nav .toggled-button {
    transform: translate(-300px, -50%);
}

.myContainer .main-nav .logo-box {
    max-width: 180px;
    height: fit-content;
    padding: 12px 0 12px 0;
    background: #BE0000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease-in-out;
    line-height: 1.2;
}

.myContainer .main-nav .logo-box .main-logo-title {
    margin: 0;
    font-size: 3em;
}

.myContainer .main-nav .logo-box .main-logo-title a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.myContainer .main-nav .logo-box .sub-logo-title {
    bottom: -10px;
    margin: 0;
    font-size: 1em;
    color: #F7EA00;
    cursor: default;
}


.myContainer .main-nav .social-media-nav-items {
    position: absolute;
    top: 0;
    height: 90px;
    left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    transition: .5s ease-in-out;
    margin: 0 0 16px 32px;
    padding: 0;
}

.myContainer .main-nav .social-media-nav-items .media-nav-item {
    display: flex;
    max-width: 100px;
    height: 55px;
    align-items: center;
}

.myContainer .main-nav .social-media-nav-items .media-nav-item:nth-child(2) {
    padding-left: 20px;
}

.myContainer .main-nav .social-media-nav-items .media-nav-item a {
    font-size: 1.5em;
    color: #000000;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.myContainer .main-nav .social-media-nav-items .media-nav-item:hover a {
    color: #BE0000;
    transform: translateY(-3px);
}

.supporting-nav {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 8px 15px 5px #9D9D9D;
}

.supporting-nav a {
    left: 0;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 1.2em;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    transition: .2s ease-in-out;
    transition-delay: .1s;
    padding-left: 10px;
}

.supporting-nav a:hover {
    color: #BE0000;
    transform: translateX(25px);
}

.supporting-nav a:hover ~ .arrow {
    color: #BE0000;
    opacity: 1;
    transform: translateX(-5px);
}

.supporting-nav .arrow {
    position: absolute;
    left: 40px;
    opacity: 0;
    transition: .2s ease-in-out;
    z-index: -1;
    transition-delay: .1s;
}

.supporting-nav .logo-mini-box {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70px;
    width: 120px;
    font-size: 1em;
    display: flex;
    align-items: center;
    transition: .4s ease-in-out;
    cursor: default;
    opacity: 0;
}

/* .supporting-nav .show {
    opacity: 1;
} */

.supporting-nav .logo-mini-box .logo-mini-box-text {
    font-size: 1.7em;
    width: 120px;
    text-align: center;
    margin: 0;
    color: #BE0000;
    font-weight: 700;
}

.supporting-nav .logo-mini-box .logo-mini-box-text span {
    color: #F7EA00;
}

.banner img {
    position: relative;
    width: 100vw;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.banner.extras {
    margin-top: 100px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-banner-title {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 2.3em;
}

.section-title {
    margin: 0 0 0 50px;
    font-size: 2em;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 50px 10px 50px;
    gap: 20px;
}

.gallery-container .card {
    flex: 1;
    max-width: 400px;
    min-width: 300px;
    height: 400px;
    box-shadow: 0px 0px 7px 2px #9D9D9D;
}

@media screen and (max-width: 1390px) {
    .gallery-container .card:last-child {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .gallery-container .card:first-child {
        display: none;
    }

    .gallery-container .card {
        max-width: unset;
    }
}

@media screen and (max-width: 720px) and (min-width: 575px) {
    .gallery-container .card {
        min-width: unset;
    }
}

@media screen and (max-width: 640px) {
    .gallery-container .card:nth-child(3) {
        display: none;
    }
}

.gallery-container .card img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-options-container {
    position: relative;
    margin: 20px 50px 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    min-height: 100px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.menu-options-container .option-card {
    flex: 1;
    position: relative;
    min-width: 45%;
    max-width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-options-container .last {
    min-width: 100%;
}

.menu-options-container .option-card .option-title {
    margin: 15px 0 0 20px;
    padding: 2px 0;
    font-size: 1.5em;
}

.menu-options-container .option-card .option-title span {
    margin-left: 12px;
    background-color: #3E7C17;
    padding: 2px 10px 4px 10px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
}

.menu-options-container .option-card .option-title .price {
    background-color: #FFA900;
}

.menu-options-container .option-card .option-description {
    margin: 0 0 20px 20px;
    font-size: 1.2em;
}

.menu-options-container .option-card.last .option-description {
    max-width: 70%;
}

.menu-options-container .option-card.last .divider {
    width: 80%;
}

.menu-options-container .option-card .divider {
    margin-left: 20px;
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    background-color: #9D9D9D;
}

@media screen and (max-width: 1100px) {
    .menu-options-container .option-card .option-description,
    .menu-options-container .option-card.last .option-description,
    .menu-options-container .option-card .option-title,
    .menu-options-container .option-card .divider {
        margin-left: 0;
    }
}

@media screen and (max-width: 1150px) {
    .menu-options-container .option-card {
        min-width: 100%;
    }

    .menu-options-container .option-card .option-description,
    .menu-options-container .option-card.last .option-description,
    .menu-options-container .option-card .option-title {
        max-width: unset;
    }

    .menu-options-container .option-card .divider {
        width: 70%;
    }
}

.extras-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extras-container .extras-banner {
    width: 600px;
    height: 800px;
    z-index: 1;
}

.extras-container .extras-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.extras-container .extras-content {
    width: -moz-fit-content;
    width: fit-content;
    min-width: 500px;
    height: 780px;
    box-shadow: 0 0 7px 4px #9D9D9D;
    z-index: 0;
}

@media screen and (max-width: 1170px) {
    .extras-section {
        width: 100vw;
        background: url('/menu-positions/pancakes/banners/extras-banner.jpg');
        padding: 45px 0 45px 0;
    }

    .extras-container .extras-content {
        background-color: #fff;
        box-shadow: none;
        height: unset;
        width: 80%;
    }

    .extras-container .extras-banner {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .extras-container .extras-content {
        width: 100%;
        max-width: unset;
        min-width: unset;
        margin-left: 20px;
        margin-right: 20px;
    }

    .extras-container .extras-content ul li a {
        margin-right: 50px;
    }
}

@media screen and (max-width: 340px) {
    .extras-container .extras-content {
        width: 100%;
        max-width: unset;
        min-width: unset;
        margin-left: 2px;
        margin-right: 2px;
    }

    .extras-container .extras-content ul li a {
        margin-right: 10px;
    }
}

.extras-container .extras-content .title {
    margin-left: 18px;
    font-size: 1.7em;
}

.extras-container .extras-content ul {
    padding: 0;
}

.extras-container .extras-content ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 25px;
    font-size: 1.2em;
    transition: .3s ease-in-out;
}

.extras-container .extras-content ul li span {
    transition: .3s ease-in-out;
}

.extras-container .extras-content ul li a {
    transition: .3s ease-in-out;
}

.extras-container .extras-content ul li:nth-child(odd) {
    background-color: #eee;
}

.extras-container .extras-content ul li:hover a {
    transform: translateX(10px);
    color: #BE0000;
}

.extras-container .extras-content ul li:hover span {
    color: #BE0000;
}

.delivery {
    margin: 0;
    background: #eee;
    padding: 0 10px 10px 10px;
    font-size: 1.6em;
    margin-top: 40px;
    text-align: center;
}

.delivery h2 {
    font-size: 1.9em;
    margin: 0;
    font-weight: 700;
    color: #BE0000;
}

.delivery h2 span {
    /* -webkit-text-stroke: 1px #9D9D9D;  */
    font-size: .7em;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFA900;
}

.delivery h4 {
    margin: 0;
    color: #444;
    font-size: .9em;
}

.delivery a {
    display: block;
    font-size: .6em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #BE0000;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    transition: .3s ease-in-out;
}

.delivery a:hover {
    box-shadow: none;
}

.new {
    background: #eee;
    padding: 30px 30px 10px 30px;
    margin-top: 40px;
    font-size: 1.6em;
    text-align: center;
}

.new h2 {
    font-size: 1.2em;
    margin: 0;
    font-weight: 700;
    color: #BE0000;
}

.new h4 {
    margin: 0;
    color: #444;
    font-size: .9em;
}

.new a {
    display: block;
    font-size: .6em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #BE0000;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    transition: .3s ease-in-out;
}

.new a:hover {
    box-shadow: none;
}

footer {
    transition: .8s ease-in-out;
    display: -ms-grid;
    display: grid;
    padding: 20px 0;
    z-index: 10;
    padding-bottom: 90px;
}

footer .footer-nav {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

footer .footer-nav .footer-nav-item {
    text-align: center;
    color: #000000;
    font-size: 1.1em;
    transition: .2s ease-in-out;
    padding: 20px 12px;
    text-decoration: none;
}

footer .footer-nav .footer-nav-item:first-child {
    padding-left: 30px;
}

footer .footer-nav .footer-nav-item:last-child {
    padding-right: 30px;
}

footer .footer-nav .footer-nav-item:hover {
    transform: translateY(5px);
}

footer .copyright {
    text-align: center;
    padding: 0;
    font-size: 1.1em;
    cursor: default;
    width: 100vw;
    text-align: center;
}

@media (max-width: 900px) {

    header .header-container {
        width: 80vw;
    }

    .banner .bannerImg {
        display: none;
    }

    .banner .content {
        width: 90vw;
    }
}

@media (max-width: 1005px) {

    .myContainer .main-nav .logo-toggled {
        transform: translateX(-100px);
        opacity: 0;
        visibility: hidden;
    }

    footer .footer-nav {
        width: 100vw;
    }
}

@media (max-width: 680px) {
    .supporting-nav .logo-mini-box {
        position: absolute;
        right: 0;
        opacity: 1;
        background: #fff;
    }
    .supporting-nav .logo-mini-box .logo-mini-box-text {
        color: #BE0000;
    }

    .myContainer .main-nav .logo-box {
        visibility: hidden;
    }

    .banner .toppings .topping-content {
        width: 80vw;
    }
}

@media (max-width: 570px) {
    .myContainer .main-nav .hide {
        transition-delay: .2s;
        transform: translateX(-600px);
    }

    header {
        height: 90vh;
    }

    .banner img {
        height: 90vh;
    }

    .banner .content {
        margin-top: 30px;
    }

    .banner .content .items li a {
        max-width: 200px;
    }

    .wrapper .card {
        width: 80vw;
        min-height: 400px;
    }

    .wrapper .card .cardImg {
        width: 80vw;
    }

    .banner .toppings .topping-content {
        width: 90vw;
    }
}