@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zen+Tokyo+Zoo&display=swap');

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 50vh;
    background: url('banners/banner.jpg');
    background-position: center;
    background-size: cover;
}

header .header-container {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 70vw;
    padding: 25px 20px 25px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    cursor: default;
}

header .header-container .header-title {
    font-size: 1.8em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #BE0000;
}

header .header-container .header-sub-title {
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
    padding: 0;
    color: #000000;
}

.section-title {
    font-size: 2em;
    text-align: center;
}

.wrapper {
    position: relative;
    margin: 20px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 95vw;
    min-height: 100px;
    gap: 20px;
    flex-wrap: wrap;
}

.wrapper .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    max-width: 100%;
    box-shadow: 0 0 15px 0 rgb(216, 216, 216);
    padding: 12px;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 900px) {
    .wrapper .card {
        max-width: 80vw;
    }
}

.wrapper .card .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper .card .info div {
    display: flex;
    justify-content: space-between;
}

.wrapper .card .info img {
    width: 90%;
    max-height: 180px;
    object-fit: cover;
    object-position: center;
    /* border-radius: 50%; */
    align-self: center;
    box-shadow: 0 0 15px 0 #9D9D9D;
}

.wrapper .card .info .price {
    align-self: flex-start;
    font-size: 1.4em;
    margin: 8px 0 16px 10px;
    color: #555;
    background-color: transparent;
}

.wrapper .card .info div .veggie-decl {
    display: inline-block;
    font-size: 1.4em;
    margin: 8px 0 16px 16px;
    color: #fff;
    padding: 6px 10px 8px 10px;
    text-transform: uppercase;
    background-color: #3E7C17;
    line-height: 1;
}

.wrapper .card .divider {
    display: block;
    width: 80%;
    height: 3px;
    background-color: #777;
}

.wrapper .card .name {
    text-align: center;
}

.wrapper .card .description {
    padding: 0 20px;
}

.divider-image {
    margin: 40px 0 40px 0;
    height: 200px;
    width: 100%;
}

.divider-image img {
    height: 100%;
    width: 100%;
    width: inherit;
    object-fit: cover;
    object-position: center;
}

.advantages-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.advantages-wrapper .box:hover img {
    transform: scale(1.2);
}

.advantages-wrapper .box:hover h4::after {
    width: 150px;
}

.advantages-wrapper .imgBox {
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.advantages-wrapper .imgBox img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transition: .3s ease-in-out;
}

.advantages-wrapper h4, 
.advantages-wrapper a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 8px 0 0 0;
    color: #111;
    position: relative;
}

.advantages-wrapper h4::after {
    content: '';
    position: absolute;
    left: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 2px;
    background-color: #555;
    transition: .3s ease-in-out;
}

.delivery {
    margin: 0;
    background: #eee;
    padding: 0 10px 10px 10px;
    font-size: 1.6em;
    margin-top: 40px;
    text-align: center;
}

.delivery h2 {
    font-size: 1.9em;
    margin: 0;
    font-weight: 700;
    color: #BE0000;
}

.delivery h2 span {
    /* -webkit-text-stroke: 1px #9D9D9D;  */
    font-size: .7em;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFA900;
}

.delivery h4 {
    margin: 0;
    color: #444;
    font-size: .9em;
}

.delivery a {
    display: block;
    font-size: .6em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #BE0000;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    transition: .3s ease-in-out;
}

.delivery a:hover {
    box-shadow: none;
}

.new {
    background: #eee;
    padding: 30px 30px 10px 30px;
    margin-top: 40px;
    font-size: 1.6em;
    text-align: center;
}

.new h2 {
    font-size: 1.2em;
    margin: 0;
    font-weight: 700;
    color: #BE0000;
}

.new h4 {
    margin: 0;
    color: #444;
    font-size: .9em;
}

.new a {
    display: block;
    font-size: .6em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #BE0000;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    transition: .3s ease-in-out;
}

.new a:hover {
    box-shadow: none;
}

footer {
    transition: .8s ease-in-out;
    display: -ms-grid;
    display: grid;
    padding: 20px 0;
    z-index: 10;
    padding-bottom: 90px;
}

footer .footer-nav {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

footer .footer-nav .footer-nav-item {
    text-align: center;
    color: #000000;
    font-size: 1.1em;
    transition: .2s ease-in-out;
    padding: 20px 12px;
    text-decoration: none;
}

footer .footer-nav .footer-nav-item:first-child {
    padding-left: 30px;
}

footer .footer-nav .footer-nav-item:last-child {
    padding-right: 30px;
}

footer .footer-nav .footer-nav-item:hover {
    transform: translateY(5px);
}

footer .copyright {
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 1.1em;
    cursor: default;
    width: 100vw;
    text-align: center;
}

@media (max-width: 1005px) {
    footer .footer-nav {
        width: 100vw;
    }
}

@media (max-width: 570px) {
    header {
        height: 90vh;
    }
}