@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #fff, #be0000);
    height: 100vh;
}

#container {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(p404.png), #151729;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    cursor: default;
}

#container .content {
    max-width: 600px;
    text-align: center;
}

#container .content h2 {
    font-size: 14vw;
    color: #eee;
    line-height: 1em;
}

#container .content h4 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: #eee;
    border-radius: 6px;
    padding: 10px 20px;
    display: inline-block;
}

#container .content p {
    color: #eee;
    font-size: 1.2em;   
}

#container .content a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: red;
    color: #eee;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    transition: .5s ease-in-out;
}

#container .content a:hover {
    background: #e40017;
    color: #fff;
}