@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zen+Tokyo+Zoo&display=swap');

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 50vh;
    background: url('banners/banner.jpg');
    background-position: center;
    background-size: cover;
}

#container {
    width: 100vw;
}

.section-title {
    font-size: 2em;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 20px;
    flex-wrap: wrap;
}

.wrapper a {
    position: relative;
    width: 100%;
    min-width: 400px;
    flex: 1;
}

.wrapper a:last-of-type {
    max-width: 100%;
}

.wrapper a .box {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.wrapper a .box img {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    transition: .3s ease-in-out;
}

.wrapper a .box .title {
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -100%);
    color: #eee;
    font-size: 50px;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 4px 4px #111;
}

.wrapper a .box .title::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    transition: .4s ease-in-out;
    transition-delay: .2s;
    width: 0;
    background-color: #eee;
    box-shadow: 2px 2px #111;
}

.wrapper a:hover img {
    scale: 1.2;
    opacity: .6;
}

.wrapper a:hover .box .title::after {
    width: 100%;
}

footer {
    transition: .8s ease-in-out;
    display: grid;
    padding: 20px 0;
    z-index: 10;
    padding-bottom: 90px;
}

footer .footer-nav {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

footer .footer-nav .footer-nav-item {
    text-align: center;
    color: #000000;
    font-size: 1.1em;
    transition: .2s ease-in-out;
    padding: 20px 12px;
    text-decoration: none;
}

footer .footer-nav .footer-nav-item:first-child {
    padding-left: 30px;
}

footer .footer-nav .footer-nav-item:last-child {
    padding-right: 30px;
}

footer .footer-nav .footer-nav-item:hover {
    transform: translateY(5px);
}

footer .copyright {
    text-align: center;
    font-size: 1.1em;
    cursor: default;
    width: 100vw;
    text-align: center;
}

@media (max-width: 900px) {

    header .header-container {
        width: 80vw;
    }

    #banner .bannerImg {
        display: none;
    }

    #banner .content {
        width: 90vw;
    }
}

@media (max-width: 1005px) {
    footer .footer-nav {
        width: 100vw;
    }
}

@media (max-width: 570px) {
    header {
        height: 90vh;
    }

    #banner .content {
        margin-top: 30px;
    }

    #banner .content .items li a {
        max-width: 200px;
    }
}