@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zen+Tokyo+Zoo&display=swap');

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 50vh;
    background: url('banners/banner.jpg');
    background-position: center;
    background-size: cover;
}

header .header-container {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 70vw;
    padding: 25px 20px 25px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    cursor: default;
}

header .header-container .header-title {
    font-size: 1.8em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #BE0000;
}

header .header-container .header-sub-title {
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
    padding: 0;
    color: #000000;
}

.wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .card {
    flex: 1;
    position: relative;
    min-width: 400px;
    min-height: 370px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    margin: 20px;
}

.wrapper .card:hover img {
    transform: scale(1.1);
}

.wrapper .card .cardImg {
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.wrapper .card .cardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s ease-in-out;
    transition-delay: .1s;
}

@media screen and (max-width: 550px) {
    .wrapper .card {
        flex: unset;
        min-width: unset;
        width: 90vw;
    }
}

.wrapper .card .title {
    font-size: 1.3em;
    padding: 16px 0 0 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.wrapper .card .ingredients {
    padding: 0 16px 10px 16px;
    margin-bottom: 10px;
}

.wrapper .card .ingredients p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper .card .additional-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.wrapper .card .additional-info .price {
    display: flex;
    align-items: center;
}

.wrapper .card .additional-info .price p {
    margin: 0;
    padding-left: 16px;
    font-weight: 600;
}

.wrapper .card .additional-info .order-options ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.wrapper .card .additional-info .order-options ul li {
    list-style-type: none;
    margin-right: 20px;
}

.wrapper .card .additional-info .order-options ul li a {
    display: block;
    padding: 16px 0 16px 0;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.wrapper .card .additional-info .order-options ul li a:hover {
    color: #BE0000;
    transform: translateY(-3px);
}

#banner {
    overflow: hidden;
}

#banner .delivery {
    margin: 0;
    background: #eee;
    padding: 0 10px 10px 10px;
    font-size: 1.6em;
    margin-top: 40px;
    text-align: center;
}

#banner .delivery h2 {
    font-size: 1.9em;
    margin: 0;
    font-weight: 700;
    color: #BE0000;
}

#banner .delivery h2 span {
    /* -webkit-text-stroke: 1px #9D9D9D;  */
    font-size: .7em;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFA900;
}

#banner .delivery h4 {
    margin: 0;
    color: #444;
    font-size: .9em;
}

#banner .delivery a {
    display: block;
    font-size: .6em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #BE0000;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    transition: .3s ease-in-out;
}

#banner .delivery a:hover {
    box-shadow: none;
}

#banner .new {
    background: #eee;
    padding: 30px 30px 10px 30px;
    margin-top: 40px;
    font-size: 1.6em;
    text-align: center;
}

#banner .new h2 {
    font-size: 1.2em;
    margin: 0;
    font-weight: 700;
    color: #BE0000;
}

#banner .new h4 {
    margin: 0;
    color: #444;
    font-size: .9em;
}

#banner .new a {
    display: block;
    font-size: .6em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #BE0000;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    transition: .3s ease-in-out;
}

#banner .new a:hover {
    box-shadow: none;
}

#banner .toppings {
    position: relative;
    margin-top: 40px;
    background: url('banners/toppings.jpg');
    background-position: center;
    background-size: cover;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .toppings .topping-content {
    width: 70vw;
    background-color: #fff;
}

#banner .toppings .topping-content ul {
    width: 100%;
    padding: 0;
}

#banner .toppings .topping-content ul li {
    position: relative;
    list-style-type: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#banner .toppings .topping-content ul li .price {
    font-weight: 600;
    font-size: 1.3em;
    margin-left: 30px;
}

#banner .toppings .topping-content ul li a {
    font-size: 1.4em;
    font-weight: 700;
    text-decoration: none;
    color: #111;
    padding: 0 10px 0 30px;
    display: block;
}

#banner .toppings .topping-content ul li p {
    font-size: 1.1em;
    margin: 0;
    font-weight: 500;
    text-decoration: none;
    color: #222;
    padding: 0 50px 5px 30px;
    
}

#banner .toppings .topping-content ul li:nth-child(odd) {
    background: #eee;
}

footer {
    transition: .8s ease-in-out;
    display: -ms-grid;
    display: grid;
    padding: 20px 0;
    z-index: 10;
    padding-bottom: 90px;
}

footer .footer-nav {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

footer .footer-nav .footer-nav-item {
    text-align: center;
    color: #000000;
    font-size: 1.1em;
    transition: .2s ease-in-out;
    padding: 20px 12px;
    text-decoration: none;
}

footer .footer-nav .footer-nav-item:first-child {
    padding-left: 30px;
}

footer .footer-nav .footer-nav-item:last-child {
    padding-right: 30px;
}

footer .footer-nav .footer-nav-item:hover {
    transform: translateY(5px);
}

footer .copyright {
    text-align: center;
    padding: 0;
    font-size: 1.1em;
    cursor: default;
    width: 100vw;
    text-align: center;
}

@media (max-width: 900px) {

    header .header-container {
        width: 80vw;
    }

    #banner .bannerImg {
        display: none;
    }

    #banner .content {
        width: 90vw;
    }
}

@media (max-width: 1005px) {
    footer .footer-nav {
        width: 100vw;
    }
}

@media (max-width: 680px) {
    #banner .toppings .topping-content {
        width: 80vw;
    }
}

@media (max-width: 570px) {
    header {
        height: 90vh;
    }

    #banner .content {
        margin-top: 30px;
    }

    #banner .content .items li a {
        max-width: 200px;
    }

    #banner .toppings .topping-content {
        width: 90vw;
    }
}