
/* 
    NEW MENU STYLES
*/

#menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    box-shadow: -3px -7px 15px 5px #9D9D9D;
    background-color: #fff;
    transition: .3s ease-in-out;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    z-index: -10;
}

#menu.visible {
    z-index: 10;
    top: 90px;
    opacity: 1;
    visibility: visible;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 650px) {
    #menu #menu-close-button.visible {
        position: absolute;
        top: 20px;
        right: 35px;
    }
}

#menu #menu-close-button {
    cursor: pointer;
    transition: .3s ease-in-out;
    transition-delay: .2s;
    position: absolute;
    top: -300px;
    right: 35px;
    font-size: 1.5em;
    padding: 6px;
    z-index: 1;
}

#menu .social-media-wrapper {
    position: relative;
    width: 100%;
    display: none;
}

#menu .social-media-wrapper::before {
    content: '';
    width: 85%;
    height: 2px;
    background-color: #9D9D9D;
    display: block;
    position: absolute;
    top: 10px;
}

#menu .social-media-wrapper h2 {
    margin: 0 10px;
    font-size: 1.2em;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #be0000;
    cursor: default;
}

#menu .social-media-wrapper a {
    font-size: 1.2em;
    margin: 0 10px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    color: #111;
    padding: 6px;
    transition: .2s ease-in-out;
}

#menu .social-media-wrapper a:hover {
    transform: translateY(-4px);
}

#menu .social-media-wrapper .title {
    color: #be0000;
}

#menu .menu-lists {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80%;
}

#menu .menu-lists .menu-wrapper {
    margin: 8px 0 20px 0;
    flex: 1;
    min-width: 220px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#menu .menu-lists .menu-wrapper::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: '';
    display: inline-block;
    height: 70%;
    width: 1px;
    background-color: #9D9D9D;
}

#menu .menu-lists .menu-wrapper:last-child::after {
    display: none;
}

#menu .menu-lists .menu-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: -moz-fit-content;
    width: fit-content;
}

#menu .menu-lists .menu-wrapper ul li:first-child {
    color: #be0000;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    cursor: default;
}

#menu .menu-lists .menu-wrapper ul li .menu-item-button {
    color: #4B6587;
    color: #9D9D9D;
}

#menu .menu-lists .menu-wrapper ul li .menu-item-button:hover {
    color: #111;
}

#menu .menu-lists .menu-wrapper ul li {
    transition: .3s ease-in-out;
}

#menu .menu-lists .menu-wrapper ul li a {
    color: #111;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    transition: .3s ease-in-out;
}

#menu .menu-lists .menu-wrapper ul:hover li a {
    opacity: .5;
}

#menu .menu-lists .menu-wrapper ul li:hover a {
    opacity: 1;
}

@media screen and (max-width: 1400px) {
    #menu .menu-lists .menu-wrapper {
        min-width: 300px;
    }
}

@media screen and (max-width: 1110px) {
    #menu .menu-lists .menu-wrapper {
        min-width: 220px;
    }
}

@media screen and (max-width: 650px) {
    #menu {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
    }

    #menu .menu-lists {
        flex-direction: column;
        justify-content: center;
    }

    #menu.visible {
        top: 0;
        padding-top: 28px;
    }

    #menu .menu-lists .menu-wrapper {
        flex: 0;
        margin-left: 22px;
        height: -moz-fit-content;
        height: fit-content;
        padding: 0;
        align-items: initial;
        padding-bottom: 10px;
    }

    #menu .menu-lists .menu-wrapper {
        height: initial;
        display: block;
    }

    #menu .menu-lists .menu-wrapper::after {
        display: none;
    }

    body.block-scroll {
        overflow: hidden;
    }

    #menu .social-media-wrapper {
        bottom: 50px;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container.menu-expanded {
        opacity: 0;
    }
}

#container {
    transition: .3s ease-in-out;
}

#container.menu-expanded {
    opacity: .4;
}
