
/* 
    MEDIA MENU STYLES
*/

.media-menu {
    position: fixed;
    background: #fff;
    z-index: 100;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    right: -350px;
    box-shadow: 0px 0px 15px 0px #9D9D9D;
    transition: .5s ease-in-out;
}

.toggled {
    right: 0px;
}

.media-menu .main-nav-items {
    padding: 0;
    margin: 0;
}

.media-menu .main-nav-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
    height: 20vh;
}

.media-menu .main-nav-item:first-child {
    margin-top: 10vh;
}

.media-menu .main-nav-item:last-child {
    margin-bottom: 10vh;
}

.media-menu .main-nav-item .main-nav-link {
    text-decoration: none;
    font-size: 24px;
    color: #111;
    transition: .3s ease-in-out;
}

.media-menu .main-nav-item .main-nav-link:hover {
    transform: translateY(-5px);
    color: #BE0000;
}